<!DOCTYPE html>
<html lang="en" class="js video webgl csscalc supports fontface fullscreen csstransforms3d csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside tablesaw-enhanced">
<%= partial "partials/head" %>

<body>
  <div class="outer-wrap">

    <%= partial "partials/navbar" %>
    <%= partial "partials/header" %>

    <section id="app-wrap" class="app-wrap">
      <%= yield %>
    </section>

    <script language="JavaScript">
    // Track HTML Leader Board Load
    // s.events='event44';
    </script>

    <%= partial "partials/panel1" %>
    <%= partial "partials/panel2" %>
    <%= partial "partials/lb_everywhere" %>

  </div>
  <!-- /outer-wrap -->
</body>
</html>
